body, html {
    font-family: "Roboto", sans-serif;
    background: aliceblue;
    height: 100%;
    position: relative;
}

#add-note {
    height: 40px;
    width: 90vw;
    padding:10px 20px;
    display:flex;
    align-items: center;
    #text-input {
        height: 100%;
        width: 90%;
        font-size: 100%;
        box-sizing: border-box;
        margin-right: 5px;
    }
    button {
        height: 100%;
        padding: 0 40px;
    }
}

.note-detail.react-draggable {
    background-color: white;
    padding: 5px 10px;
    box-shadow: 6px 6px 5px grey;
    border: 4px double grey;
    display: flex;
    flex-direction: column;
    #title-component {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        .title {
            font-size: 20px;
            margin-top: 0px;
            margin-bottom: 10px;
            width: 50%;
        }
        #button-container {
            display: inherit;
            position: absolute;
            right: 1px;
            button {
                font-size: 20px;
                margin-left: 2px;
                background: none;
                border: none;
                /*
                Inspired by https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome
                This method removes the default blue line that surrounds an HTML <button> when it is active
                */
                &:focus {
                    outline: 0;
                }
            }
        }
    }
    .text {
        margin-top: 0px;
        font-size: 16px;
    }
}

.note-body {
    overflow: scroll;
}

#move-note:hover {
    cursor:move;
}

textarea {
    width: 100%; 
    min-height: 50%;
}

.star-button {
    position: absolute;
    bottom: 1px;
    right: 1px;
    text-align: right;
    font-size: 16px;
    width:99%;
    border:none;
    height: 10%;
    &:focus {
        outline: 0;
    }
}

// Style the bottom container red if the note is starred
#starred-container {
    background: red;
    .far, .fa-star {
        color: black;
    }
}

// Style the bottom container red if the note is not starred
#not-starred-container {
    background: white;
    .far, .fa-star {
        color: gold;
    }
}